:root {
    --dark-red: #6b2120;
    --light-pink: #ebcecc;
    --bright-pink: #ffafa6;
    --light-blue: #D4e0ee;
    --font-color-black: #2c2c2c;
    --font-color-white: #fff;
}

a {
    color: var(--font-color-black);
    text-decoration: none;
}

#sellerName:hover{
    text-decoration: underline;
}

.custom-primary {
    background-color: var(--light-pink);
    color: var(--dark-red);
}

.custom-secondary {
    background-color: var(--dark-red);
    color: var(--font-color-white);
}

.custom-bg {
    background-color: var(--light-blue);
    color: var(--font-color-black);
}

.modal-bg {
    background-color: #EBCECC;
    color: var(--font-color-black);
}

#logoImage {
    max-width: 100px;
    margin-left: 1em;
}

.card {
    width: 15rem;
    height: auto;
}

.card:hover{
    box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.5);
}

#newItemWrap {
    background-color: var(--light-pink);
    padding: 1rem;
}

.dropdown-item:hover {
    cursor: pointer;
}

// .btn {
//     max-height: 40px;
// }

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden;
}

#landingPage {
    background-color: var(--light-blue);
}

#landingPageMain {
    height: 100vh;
    display: flex;
}

#landingPageImage {
    background-image: url("../../images/pexels-taryn-elliott-4198572\ Medium.jpeg");
    background-color: var(--light-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 628px;
    width: 586px;
    z-index: -999;
}

#searchLandingPage {
    display: flex;
}

.nav-item:hover{
    text-decoration: underline;
}